# Local development
APP_VERSION=local

SITE_DOMAIN=localhost

CADDY_HOST_HTTP_PORT=8080
CADDY_HOST_HTTPS_PORT=8443

DATA_SAVE_PATH=./.data
DATA_BACKUP_PATH=./.backups
DATA_BACKUP_LOG_PATH=./logs/backup

POSTGRES_DB=psira
POSTGRES_USER=psira
POSTGRES_PASSWORD=psira

JWT_SECRET=dev-secret
GRAPHQL_PLAYGROUND_ENABLED=true

FRONTEND_MAIL=false
APP_URL=http://localhost:8080
